* {
    font-family: Arial;
    box-sizing: border-box;
    background-color: #2E3440;
    color: #ECEFF4;
}

#sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 60px;
    padding: 0px;
    width: 200px;
    max-width: 200px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #3B4252;
}

::-webkit-scrollbar-thumb {
    background: #434C5E;
}

.add-playlist-button {
    position: absolute;
    top: 40px;
    background: #3B4252;
    border: none;
    width: 100%;
    height: 40px;
}

.add-playlist-button:hover {
    background: #333947;
}

.sidebar-playlist-button {
    top: 0px;
    background: #3B4252;
    border: none;
    width: 75%;
    max-width: 75%;
    left: 0px;
    right: 0px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar-playlist-button:hover {
    background: #333947;
}

.sidebar-delete-button {
    top: 0px;
    background: #3B4252;
    border: none;
    width: 25%;
    max-width: 25%;
    left: 0px;
    right: 0px;
    height: 40px;
}

.sidebar-delete-button:hover {
    background: #333947;
}

.hidden {
    display: none;
}

#sidebar-playlists {
    position: absolute;
    width: 100%;
    top: 80px;
    bottom: 0px;
    overflow-y: scroll;
}

.playlist-name-form {
    border: none;
    width: 100%;
    max-width: 100%;
    height: 40px;
    outline: none;
}

#searchbar-input {
    width: 100%;
    max-width: 100%;
    height: 40px;
    border: none;
    outline: none;
}

::placeholder {
    opacity: 1; 
    color: #9A9CA1;
}

.main-panel {
    position: absolute;
    left: 200px;
    top: 0px;
    right: 0px;
    bottom: 60px;
    height: 100%;
}

.playlist-header {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #5E81AC;
    left: 0px;
    padding-left: 10px;
    width: 100%;
    max-width: 100%;
    height: 40px;
    font-size: 25px;
}

.song-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-width: 100%;
    bottom: 60px;
    top: 40px;
    overflow-y: scroll;
}

.song-row {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    min-height: 40px;
    height: 40px;
    max-height: 40px;
}

.song-span-title {
    padding-left: 5px;
    width: 35%;
}

.song-span-artist {
    width: 25%;
}

.song-span-album {
    width: 25%;
}

.song-span-length {
    display: flex;
    flex-direction: row-reverse;
    width: 15%;
    padding-right: 5px;
}