.song-row {
    display: flex;
    flex-direction: row;
}

.song-row-playbutton {
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 95%;
    min-height: 40px;
    height: 40px;
    max-height: 40px;
    background: #3B4252;
    border: none;
}

.song-row-playbutton span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-row-playbutton:hover {
    background: #333947;
}

.song-row-playbutton:hover span {
    background: #333947;
}

.song-row-deletebutton {
    width: 5%;
    max-width: 5%;
    min-width: 5%;
    background: #3B4252;
    border: none;
}

.song-row-deletebutton:hover {
    background: #333947;
}

.song-span-title {
    display: flex;
    padding-left: 5px;
    width: 35%;
    background: #3B4252;
}

.song-span-artist {
    display: flex;
    width: 25%;
    background: #3B4252;
}

.song-span-album {
    display: flex;
    width: 25%;
    background: #3B4252;
}

.song-span-length {
    display: flex;
    flex-direction: row-reverse;
    width: 15%;
    padding-right: 5px;
    background: #3B4252;
}