#searchbar-div {
    width: 200px;
    max-width: 200px;

}

#searchbar-input {
    width: 100%;
    max-width: 100%;
    height: 40px;
    border: none;
    outline: none;
}

::placeholder {
    opacity: 1; 
    color: #9A9CA1;
}