.playlist-button-notplaying {
    top: 0px;
    background: #3B4252;
    border: none;
    width: 75%;
    max-width: 75%;
    left: 0px;
    right: 0px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playlist-button-notplaying:hover {
    background: #333947;
}

.playlist-button-playing {
    top: 0px;
    background: #8FBCBB;
    border: none;
    width: 75%;
    max-width: 75%;
    left: 0px;
    right: 0px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playlist-button-playing:hover {
    background: #74a6a6;
}

.delete-button {
    top: 0px;
    background: #3B4252;
    border: none;
    width: 25%;
    max-width: 25%;
    left: 0px;
    right: 0px;
    height: 40px;
}

.delete-button:hover {
    background: #BF616A;
}